# ========================
# Terraform
# ========================
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# ========================
# Variables (secrets)
# ========================
*.tfvars
!terraform.tfvars.example

# ========================
# OS / IDE
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*~

# ========================
# Security Scans (Checkov)
# ========================
results_junit.xml
checkov_results.xml
*.xml
