[defaults]
# No preguntar si confía en la clave SSH del host
host_key_checking = False

# Usuario por defecto para conectarse a las instancias EC2
remote_user = ec2-user

# Tiempo máximo de espera para conexión SSH (segundos)
timeout = 30

# Ruta al inventario por defecto
inventory = inventory/hosts.yml

# Colores en la salida del terminal
force_color = True
